on: [push, pull_request]
name: Lint & Test
jobs:
  rspec:
    strategy:
      matrix:
        rails: ['5.2', '6.0.4', '6.1']
        ruby: ['2.6', '2.7', '3.0']
        exclude:
          - rails: '5.2'
            ruby: '3.0'
    runs-on: ubuntu-latest
    env:
      RAILS_VERSION: ${{ matrix.rails }}
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - run: bundle exec rake
